*{
    box-sizing: border-box;

}

body{
    padding: 0%;
    margin: 0%;
}

.menu-container{
    padding: 10px;
}

.menu{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    align-items: center;
    flex-grow: 2;
    position: sticky; 
    top: 25px;
    left: 30px;
    justify-content: center;
    gap: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.home-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 30%;

}

.menu-items1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Gotham;
}

.menu-items2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    height: 5%;
    width: 60%;
    background-color: rgb(221, 192, 5);
}

.menu-items3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-weight: bold;
    font-size: large;
}

.menu-items4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    height: 5%;
    width: 20%;
    background-color: rgb(0, 0, 0);
}

.menu-items1 a{
    color: #FFFFFF;
    text-decoration: none;
}

.menu-items3 a{
    color: #FFFFFF;
    text-decoration: none;
}



.master-container{
    display: flex;
    flex-direction: column;
    height: 1800px;
    width: 100%;
    gap: 30px;
    background-color: #fff;
}

.car-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 33.33%;
    gap: 12px;
    background-color: #ffffff;
}

.item-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.title{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300%;
    align-items: flex-start;
    flex-grow: 4;
    top: 25px;
    left: 8%;
    color: #000;
    font-family: Gotham;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-bottom-right-radius: 60px;
    justify-content: space-around;
}

.button{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 40%;
    color: #FFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Gotham;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 19px;
}

.button a{
    color: #FFFFFF;
    text-decoration: none;
}

.red{
    background: red;
}

.yellow{
    background: orange;
}

.green{
    background: green;
}

.motion-picture{
    display: flex;
    width: 100%;
    height: 100%;
}

.picture-car{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    opacity: 0.3;
}

.picture-car:hover{
    
    transform: scale(1.5);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    opacity: 1;
}



.picture-car img{
    width: 50%;
    height: 100%;
}

.motion-picture img{
    width: 100%;
    height: 100%;
}

.bottom-bar{
    background-color: #000;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    flex-grow: 2;
    padding: 10px;
    bottom: 0%;
}

.item-b1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-weight: bold;
    font-size: large;
}

.item-b2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    width: 100%;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Gotham;
    font-weight: bold;
    font-size: medium;
}

.item-b3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Gotham;
}